@charset "UTF-8"
/* Paletas de cores 
verde:#49a09d 
lilas:#5f2c82
*/
* {
    font-family:asystem-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
    margin:auto ;

}
main {
    position: relative;
    height: 100vh;
    width: 100vw;

}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    background-color: white;
    width: 270px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0450);

    transition: width 1s, heigth .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg ) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;
}
section#login > div#formulario {
    display: block;
    padding: 10px;

}
div#formulario > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 7px;
}
div#formulario > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;
}
form > div.campo {
    background-color: #5f2c82;
    width: auto;
    display: block;
    height: 39px;
    border-radius: 6px;
    margin: 4px 0px;
    padding: 0.1em;
    border: 1px solid;

}
div.campo > label {
    display: none;
}
div.campo > i {
    color: white;
    
    font-size: 2em;
    width: 40px;
    padding: 3.9px;
}
div.campo > input {
    background-color: rgb(7, 173, 7);
    font-size: 0.8em;
    width: calc(100% - 56px);
    height: 100%;
  
    border: 0px;
    border-radius: 6px;
    padding: 0.1em ;
    transform: translateY(-11px);
    
    
}
div.campo >input:focus-within {
    background-color: white;
    border: none;
}
form > input[type=submit] {
    display: block;
    font-size: 0.8em;
    width: 100%;
    height: 25px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2px;
}
form > input[type = submit]:hover{
    background-color: rgba(5, 121, 115, 0.637);

}
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    padding-top: 2px;
    margin-top:2px ;
    color: rgb(17, 116, 17);
    height: 40px;
    background-color: rgba(128, 128, 128, 0.507);
    border-radius: 8px;
    border: 1px solid;
    text-decoration: none;
}
form > a.botao:hover{
    background-color: white;
}
form > a.botao > i {
    font-size:  1.0em;
}